.main-content {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .main-content {
        width: 100%;
    }

    .main-content .bg-change .overlay {
        width: 100% !important;
    }
    .main-content .bg-change .overlay .overlay-text p {
        width: 60% !important;
    }
    .main-content .bg-change {
        width: 100% !important;
    }
    .main-content .bg-change img {
        width: auto !important;
        height: 100% !important;
        position: relative;
        left: -130px;
    }
}

@media only screen and (max-width: 700px) {
    .main-content .bg-change {
        height: 50vh !important;
    }
    .main-content .bg-change .overlay {
        height: 50vh !important;
    }
    .main-content .bg-change .overlay .overlay-text h2 {
        width: 100% !important;
        font-size: 2.5rem !important;
    }
    .main-content .bg-change .overlay .overlay-text p {
        width: 100% !important;
    }
    .main-content .bg-change .overlay .overlay-text {
        padding: 4rem !important;
    }
    .main-content .bg-change img {
        width: 800px !important;
        height: 100% !important;
    }
}

.main-content .bg-change {
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    position: relative;
}

.main-content .bg-change .overlay {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    width: 100%;
    height: 75vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
}

@media only screen and (max-width: 650px) {
    .main-content .bg-change {
        width: 100% !important;
        padding: 0 !important;
        overflow: hidden !important;
    }
}

.main-content .bg-change img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 480px) {
    .main-content .bg-change {
        height: 70dvh !important;
    }
    .main-content .bg-change .overlay {
        height: 100% !important;
    }
    .main-content .bg-change img {
        position: relative;
        left: -120px;
    }
}

.main-content .bg-change .overlay .overlay-text {
    width: 100%;
    height: 100%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--semi-beige);
}

.main-content .bg-change .overlay .overlay-text .link {
    width: 18rem;
    height: 3rem;
}

.main-content .bg-change .overlay .overlay-text button {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gold);
    border-radius: .5rem;
    background-color: var(--off-black);
    color: var(--gold);
    font-size: 1rem;
    letter-spacing: .5px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 550;
}

.main-content .bg-change .overlay .overlay-text button:active {
    background-color: #000;
}

.main-content .bg-change .overlay .overlay-text h2 {
    font-size: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.main-content .bg-change .overlay .overlay-text p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    width: 40%;
}

.main-content .bg-change .overlay .overlay-text p .bookhive {
    font-weight: bold;
}

.book-cards-container {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    columns: 3 30rem;
    margin-bottom: 3rem;
}

.book-cards-container .book-cards-title h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.body-cards-link {
    text-decoration: none;
}

.body-cards {
    margin-bottom: 3rem;
}

.card-image-container {
    width: 50%;
}

.body-cards .card {
    display: flex;
    flex-direction: column;
}

.body-cards .card .card-image-container img {
    height: 20rem;
}

.body-cards .card .card-info-container {
    color: var(--off-black);
}

.body-cards .card .card-info-container h2 {
    font-size: 1.2rem;
    margin-top: .5rem;
}

.main-content footer {
    bottom: -10%;
}

.main-content .cards-container {
    visibility: hidden !important;
}