@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
  --off-black: #131010;
  --dark-brown: #543A14;
  --gold: #F0BB78;
  --semi-beige: #FFF0DC;
  --gray: #CCCCCC;
}

/* INFO: Reset to Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Liter', sans-serif;
}